@import 'colors.css';
@import "fonts.css";

html,
body {
    min-height: 100vh;
}

.logo-h1 {
    position: relative;
}

.main-title-section {
    display: flex;
    flex-direction: row;
    margin: 0;
}

.main-title {
    margin: 10px 0 0;
    text-decoration: underline 3px var(--green);
}

h1 {
    text-transform: uppercase;
}

 .green-bg{
    position: relative !important;
    display: inline-block;
}

 .green-bg::before {
    content: '';
    z-index: -1;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: var(--green);
    animation: highlight 0.5s;
}

@keyframes highlight {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}

.subtitle {
    margin-top: 32px;
    margin-bottom: 24px;
    width: 70%;
    font-weight: 600;
    line-height: 130%;
    font-size: 20px;
}

.flex-top-link {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

/* Home Page */

.top-home-page {
    margin-top: 128px;
    padding: 0 10vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.top-home-page .left-part {
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.statistique {
    margin-top: 128px;
    padding: 0 10vw;
    display: flex;
    justify-content: space-between;
}

.box-stat {
    width: 23vw;
    color: var(--black);
}

.number-stat {
    font-size: 28px;
    font-weight: 600;
}

.text-stat {
    margin-top: 4px;
    font-size: 16px;
    font-weight: 400;
    line-height: 130%;
}

.source {
    font-weight: 200;
    text-decoration: none;
}

.prevention {
    margin-top: 128px;
}

.flex-prevention {
    margin-top: 64px;
    display: flex;
    flex-direction: column;
    padding: 0 10vw;
    gap: 128px;
}

.text-prevention {
    width: 32vw;
}

.instruction-text {
    line-height: 130%;
    margin-left: 5px;
    margin-top: 24px;
    margin-bottom: 80px;
}

.box-prevention {
    display: flex;
    justify-content: space-between;
}

.box-prevention:nth-child(2) {
    flex-direction: row-reverse;
}

.ressources {
    margin-top: 128px;
    padding: 0 10vw;
    display: flex;
    gap: 128px;
}

.ressources .right-part {
    display: flex;
    gap: 32px;
}

.right-part img {
    width: 200px;
}

.ressource-text {
    margin: 50px 0;
    line-height: 130%;
}

.about {
    margin-top: 128px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.about-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30vw;
}

.about-box h2 {
    text-align: center;
}

.about-text {
    margin: 30px 0;
    line-height: 130%;
}

.img-home {
    margin-left: 30px;
    width: 40vw;
}


/* CHOICE BUTTON */
.deco-choicebtn {
    position: absolute;
    left: -15px;
    bottom: -15px;
    width: 150px;
    height: 150px;
}

@media screen and (max-width:800px) {
    .deco-choicebtn {
        width: 120px;
        height: 120px;
        left: -10px;
        bottom: -10px;
    }
}

.container-choice.main {
    background-color: var(--green);
}

.container-choice.main:hover {
    background-color: var(--green-hover);
}

.container-choice.main:active {
    background-color: var(--green-clicked);
}

.container-choice.secondary {
    background-color: var(--beige);
}

.container-choice.secondary:hover {
    background-color: var(--beige-hover);
}

.container-choice.secondary:active {
    background-color: var(--white);
}

.container-choice {
    position: relative;
    width: 100%;
    height: 150px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    /* Ajustez l'alignement du texte selon vos besoins */
    text-decoration: none;
}

.title-choice {
    font-size: 20px;
    font-weight: 600;
    color: var(--black);
    margin-bottom: 8px;
}

.description-choice {
    font-size: 16px;
    font-weight: 400;
    color: var(--black);
}

/* NAVBAR */
header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
}

.display-mobile {
    display: none;
}

.flex-header {
    background-color: var(--white);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 5vw;
}

.menu {
    display: flex;
    gap: 24px;
    align-items: center;
}

.ligne {
    width: 90%;
    border: 1px solid var(--black);
    margin: 0 auto 0 auto;
}

.nav-style {
    background: none;
    border: none;
    line-height: 100%;
    font-family: 'DM Sans', sans-serif;
    font-weight: 500;
    color: var(--black);
    font-size: 16px;
    text-transform: uppercase;
    position: relative;
    cursor: pointer;
}

.underline::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -8px;
    width: 100%;
    height: 3px;
    transition: background-color 0.3s ease;
}

.underline:hover::after {
    background-color: var(--green);
}

.mobile {
    display: none;
}

@media screen and (max-width: 1000px) {
    .menu {
        display: flex;
        flex-direction: column;
        gap: 24px;
        align-items: center;
        position: fixed;
        top: -100%;
        /* Positionnez le menu sous le header par défaut */
        left: 0;
        width: 100%;
        background-color: var(--white);
        transition: top 0.5s ease;
        z-index: -1;
        height: 100%;
        padding-top: 32px;
    }

    .menu.open {
        top: 40px;
        z-index: -1;
        padding-left: 0;
    }

    .underline::after {
        display: none;
    }

    .mobile {
        display: flex;
        align-items: center;
        gap: 6px;
        background: none;
        border: none;
        font-family: 'DM-Sans', sans-serif;
        font-weight: 600;
        color: var(--black);
        font-size: 16px;
        text-transform: uppercase;
    }

    hr {
        width: 80%;
        border: 1px solid var(--black);
    }

    .display-mobile {
        display: block;
    }
}

@media screen and (min-width: 0px) and (max-width: 800px) {
    .subtitle {
        width: 90%;
        font-size: 20px;
    }

    /* Home Page */
    .top-home-page {
        margin-top: 45px;
        padding: 0 5vw;
        flex-direction: column;
    }

    .img-home {
        margin-top: 48px;
        width: 90vw;
        max-width: 500px;
    }

    .prevention {
        margin-top: 64px;
    }

    .flex-prevention {
        padding: 0 5vw;
        gap: 64px;
    }

    .text-prevention {
        width: 90vw;
    }

    .instruction-text {
        margin-left: 5px;
        margin-bottom: 40px;
    }

    .box-prevention img {
        display: none;
    }

    .statistique {
        margin-top: 64px;
        padding: 0 5vw;
        flex-direction: column;
        gap: 32px;
    }

    .box-stat {
        width: 90vw;
    }

    .ressources {
        flex-direction: column;
        margin-top: 64px;
        padding: 0 5vw;
        gap: 64px;
    }

    .ressources .right-part {
        flex-wrap: wrap;
    }

    .ressources .right-part img {
        width: 30vw;
        min-width: 300px;
    }

    .about {
        margin-top: 64px;
    }

    .about-box {
        width: 90vw;
    }

    .about h2 {
        text-align: left;
    }

}

@media screen and (min-width: 800px) and (max-width: 1250px) {
    .img-home {
        width: 40vw;
    }

    .top-home-page {
        padding: 0 5vw;
    }

    .flex-prevention {
        padding: 0 15vw;
    }

    .text-prevention {
        width: 90vw;
    }

    .instruction-text {
        margin-left: 5px;
        margin-bottom: 40px;
    }

    .box-prevention img {
        display: none;
    }
}

/* LINK */
.containerLink.left img {
    transform: rotate(180deg);
}

.left {
    flex-direction: row-reverse;
}

.containerLink {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
}

.containerLinkText {
    display: flex;
}

.text {
    padding-left: 5px;
}

.link {
    text-decoration: none;
}

.underlineLink {
    height: 3px;
    background-color: var(--green);
    width: 100%;
}

.underlineHoverLink {
    height: 3px;
    background-color: var(--green);
    width: 0;
    transition: 0.3s;
}

.containerLink:hover .underlineHoverLink {
    width: 100%;
}

.containerLink img {
    margin-left: 0;
    transition: 0.3s;
}

.containerLink:hover img {
    margin-left: 5px;
}

/* ABOUT */
.content {
    max-width: 60vw;
    margin: auto;
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.paragrapheAbout p {
    line-height: 140%;
}

.paragrapheAbout {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 40vw;
}

@media screen and (max-width: 1000px) {
    .content {
        max-width: 70vw;
    }

    .paragrapheAbout {
        max-width: 80vw;
    }
}


/* QUIZ */
.quizContainer {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 100px 100px 100px;
}

.choicesContainer {
    display: flex;
    gap: 10px;
}

.quizTitle{
    margin-top: 30px;
    max-width: 60vw;
    margin-bottom: 24px;
}

.pointQuiz{
    margin-bottom: 100px;
}

.quizContainer .main-button{
    margin-top: 72px;
}

.resteMise{
    margin-bottom: 16px;
}

.textContainer{
    max-width: 60%;
    line-height: 40px;
}

.answerTitle{
    font-family: "DM Sans", sans-serif;
    font-size: 24px;
    font-weight: 600;
}

.answerContainer{
    display: flex;
    align-items: center;
    gap: 50px;
    flex-direction: column;
    padding: 100px 0;
}

@media screen and (min-width: 0px) and (max-width: 1000px) {
    .quizContainer {
        margin-top: 60px;
    }
    .quizTitle{
        width: 85vw;
        margin-bottom: 32px
    }
    .pointQuiz{
        margin-bottom: 50px;
    }
    .choicesContainer {
        flex-direction: column;
        gap: 10px;
        width: 85vw;
    }
    .answerContainer{
        margin: 50px 0;
        width: 90vw;
    }
    .textContainer{
        max-width: 90vw;
    }
    .textContainer p {
        font-size: 16px;
    }
}

.card {
    border: 2px solid transparent; /* Pas de bordure par défaut */
    border-radius: 5px;
    background-color: #f3f1ed;
    cursor: pointer;
    transition: transform 0.3s ease, border-color 0.3s;
}

.card label {
    user-select: none;
    font-family: 'DM Sans', sans-serif;
    font-weight: 600;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 28vw;
    height: 160px;
    font-size: 20px;
    color: var(--black);
    transition: background-color 0.3s ease;
    gap: 12px;
}

.card.selected {
    background-color: var(--green-clicked); /* Bordure verte pour la carte sélectionnée */
    transform: scale(1.02); /* Agrandissement léger pour effet de focus */
}

.card label.checked {
    background-color: var(--green);
    color: white;
}

.card:active {
    transform-origin: 12.5vw;
}


@media screen and (min-width: 0px) and (max-width: 1000px) {
    .card label {
        width: 100%;
    }
    .card:active {
        transform-origin: 50%;
    }
}
/* Styles pour la carte correcte et incorrecte */
.correct {
    border: 2px solid var(--green);
    background-color: var(--green);
}

.incorrect {
    border: 2px solid #dc3545;
    background-color: #dc3545;
}

/* Icônes de validation et d'erreur */
.icon-check, .icon-cross {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 24px;
    height: 24px;
    fill: white;
}
